<!DOCTYPE html>
<html lang="en">

<head>
    <title>PrintPage2</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <link rel="stylesheet" href="stylesheets/output.css">

    <script>
        $(document).ready(function () {
            $('#btnPrint').click(function () {
                $('#btnPrint').hide();
                var css = '@page { size: a4; }',
                    head = document.head || document.getElementsByTagName('head')[0],
                    style = document.createElement('style');
                style.type = 'text/css';
                style.media = 'print';
                if (style.styleSheet) {
                    style.styleSheet.cssText = css;
                } else {
                    style.appendChild(document.createTextNode(css));
                }
                head.appendChild(style);
                window.print();
            });
        })
    </script>
    <style media="print" type="text/css">
        .skill_name,
        .skill_per {
            color: white ! important;
        }

        .content h1 {
            color: black ! important;
        }

        h1,
        h2,
        h3 {
            color: white ! important;
        }

        h4 {
            color: gainsboro ! important;
        }

        body {
            -webkit-print-color-adjust: exact !important;
        }
    </style>
</head>

<body>

    <div class="container col-lg-7 col-xs-12 col-lg-offset-2" style="border-style:ridge;">

        <div class="form-group">

            <div class="col-xs-5 col-sm-6 col-md-6 col-lg-4"
                style="background-color: #255A88 !important;color: white;height: 100%">

                <h1 style="color: white ! important"><%= data1[0].lastname %></h1>
                <!--        personla info-->
                <p style="color: gainsboro ! important;">Developer</p>
                <h4>Viaskhapatanam</h4>
                <h4>kurrucharan987@gmail.com</h4>
                <h4 style="border-bottom: groove; padding-bottom: 15px;">9849214811</h4>
                <!--        personal skills-->
                <h2>Skills </h2>
                <h4>Analytical skills</h4>
                <h4>communication skills</h4>
                <h4>converstaion skills</h4>
                <h4>Animation skills</h4>
                <h4 style="border-bottom: groove; padding-bottom: 15px;">hardworking skills</h4>

                <h3>Technical Profencies</h3>
                <div class="resume_item resume_skills">
                    <ul>
                        <li>
                            <div class="skill_name">
                                HTML
                            </div>
                            <div class="skill_progress">
                                <span style="width: 80%;"></span>
                            </div>
                            <div class="skill_per">80%</div>
                        </li>
                        <li>
                            <div class="skill_name">
                                CSS
                            </div>
                            <div class="skill_progress">
                                <span style="width: 70%;"></span>
                            </div>
                            <div class="skill_per">70%</div>
                        </li>
                        <li>
                            <div class="skill_name">
                                SASS
                            </div>
                            <div class="skill_progress">
                                <span style="width: 90%;"></span>
                            </div>
                            <div class="skill_per">90%</div>
                        </li>
                        <li>
                            <div class="skill_name">
                                JS
                            </div>
                            <div class="skill_progress">
                                <span style="width: 60%;"></span>
                            </div>
                            <div class="skill_per">60%</div>
                        </li>
                        <li>
                            <div class="skill_name">
                                JQUERY
                            </div>
                            <div class="skill_progress">
                                <span style="width: 88%;"></span>
                            </div>
                            <div class="skill_per">88%</div>
                        </li>
                    </ul>
                </div>
                <section style="border-bottom: groove; padding-bottom: 15px;"></section>

                <h3>Software Technology's</h3>
                <h4>Artificaial Intelligence</h4>
                <h4>Machine Learning</h4>
                <h4>Meanstack</h4>
                <h4 style="border-bottom: groove; padding-bottom: 15px;">Iot</h4>
                <h3>Languages</h3>
                <h4>English</h4>
                <h4>Telugu</h4>
                <h4>English</h4>
                <h4>Telugu</h4>
                <h4>English</h4>
            </div>
            <div class="col-xs-7 col-sm-6 col-md-6 col-lg-8" style="margin-top: 20px;">
                <!--          <h1>Academic Details:</h1>-->
                <div class="resume_right" style="position: relative;left:px;">
                    <div class="resume_item resume_work">
                        <div class="title">
                            <p class="bold" style="font-size: 30px;color: #255A88 ! important; ">Education</p>
                        </div>
                        <ul>
                            <li>
                                <div class="date">2018 - 2022</div>
                                <div class="info">
                                    <p class="semi-bold" style="font-weight: 500; font-size: 22px;">Aditya Engineering
                                        College</p>
                                    <p>Completed B.tech in Information Technology with an aggregate of 9.0</p>
                                </div>
                            </li>
                            <li>
                                <div class="date">2016 - 2018</div>
                                <div class="info">
                                    <p class="semi-bold" style="font-weight: 500; font-size: 22px;">Sri Chaitanya jr
                                        College</p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="date">2015 - 16</div>
                                <div class="info">
                                    <p class="semi-bold" style="font-weight: 500; font-size: 22px;">D.A.V Public School
                                    </p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-xs-7 col-sm-6 col-md-6 col-lg-8">
                <div class="resume_right" style="background: pink;position: relative;">
                    <div class="resume_item resume_work">
                        <div class="title">
                            <p class="bold" style="font-size: 30px; color: #255A88 ! important;">Projects</p>
                        </div>
                        <ul>
                            <li>
                                <div class="info">
                                    <p class="semi-bold" style="font-weight: 500; font-size: 22px;">Salary Prediction
                                        system ML</p>
                                    <p>Completed B.tech in Information Technology with an aggregate of 9.0</p>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <p class="semi-bold" style="font-weight: 500; font-size: 22px;">AI Operatig System
                                    </p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="info">
                                    <p class="semi-bold" style="font-weight: 500; font-size: 22px;">Ecommerce Website
                                    </p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, voluptatibus!
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-xs-7 col-sm-6 col-md-6 col-lg-8" style="background-color: red! important;">
                <h1>Certifications</h1>
            </div>
            <div class="col-xs-7 col-sm-6 col-md-6 col-lg-8 " style="background: white;margin-top:10px">
                <div class="resume_item resume_hobby">
                    <div class="title">
                        <p class="bold" style="font-size: 30px;color: #255A88 ! important;">Hobbies</p>
                    </div>
                    <ul>
                        <li><i class="fas fa-gamepad"></i></li>
                        <li><i class="fas fa-music"></i></li>
                        <li><i class="fab fa-pagelines"></i></li>
                        <li><i class="fas fa-laptop-code"></i></li>
                        <li><i class="fas fa-book"></i></li>

                    </ul>
                </div>
            </div>

        </div>
    </div>

    <button type="button" id="btnPrint" class="btn btn-primary pull-right">Print</button>

</body>

</html>